<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LahmanConnection" connectionString="server=tcp:qi0ryl06ww.database.windows.net,1433;database=Lahman;user id=davidem@qi0ryl06ww;password=Lepanto1571;trusted_connection=False;encrypt=True;connection timeout=30" providerName="System.Data.SqlClient" />
    <add name="LahmanAzureConnection" connectionString="server=tcp:m8ft5fsown.database.windows.net,1433;database=Lahman;user id=davidem@m8ft5fsown;password=Lepanto1571;trusted_connection=False;encrypt=True;connection timeout=30" providerName="System.Data.SqlClient" />
    <add name="AdventureworksAzureConnection" connectionString="server=tcp:m8ft5fsown.database.windows.net,1433;database=Adventureworks;user id=davidem@m8ft5fsown;password=Lepanto1571;trusted_connection=False;encrypt=True;connection timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>